/* 
GSA WEB Proyect -- v2.0 
Author: Carlos Padilla (cpadlab) -- https://github.com/cpadlab
Proyect: https://github.com/gsalhawd/gsalhawd.github.io
*/  
.banner-belong{padding:1em;background:var(--primary)}.bb-images{position:relative;display:flex;flex-wrap:wrap;align-items:center;justify-content:space-around}.bb-images img{height:5em;width:auto}#bbi-logo-msc-white{width:7em;height:auto}